.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.checked-out-ad{
    width: 100%;
    margin-bottom: 10px;
}
.check-out-title{
    margin-right: 15px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
