.payment{
    background-color: white;
}
.payment-container > h1{
 text-align: center;
 padding: 10px;
 font-weight: 400;
 background-color: rgb(234,237,237);
 border:1px solid lightgray;
}
.payment-section{
    display: flex;
    padding: 20px;
    margin: 20px;
    border:1px solid lightgray;

}
.payment-section > h3 , .payment-title{
    flex: 0.2;
}
.payment-address , .payment-items  ,.payment-details{
    flex:0.8
}
.payment-items  > form{
    max-width: 400px;
}
.payment-details > form > div > button {
    background-color: #f0c14b;
    border-radius: 2px;
    width:100%;
    height:30px;
    border:1px solid ;
    margin-top:10px;
    color:#111;
    cursor: pointer;
    border-color:  #a88734 #9c7e31 #846a29;
}
